2 task/__pycache__/morse.cpython-311.pyc
2 task/__pycache__/tests.cpython-311-pytest-7.4.3.pyc
3 task/__pycache__/one_hot_encoder.cpython-311.pyc
3 task/__pycache__/tests.cpython-311-pytest-7.4.3.pyc
3 task/__pycache__/tests.cpython-311.pyc
4 task/__pycache__/tests.cpython-311-pytest-7.4.3.pyc
4 task/__pycache__/one_hot_encoder.cpython-311.pyc
5 task/__pycache__/tests.cpython-311-pytest-7.4.3.pyc
5 task/__pycache__/tests.cpython-311.pyc
__pycache__/morse.cpython-311.pyc
5 task/__pycache__/what_is_year_now.cpython-311.pyc
.DS_Store
